
<%- include('includes/head.ejs')%> 
  <link rel="stylesheet" href="/css/address.css" />
</head>

<body>
  <%- include('includes/navigation.ejs')%> 
  <main>
    <% if(addr.length > 0) {%>
    <table>
      <tr>
        <th>Time</th>
        <th>IP</th>
      </tr>
      <% for (let address of addr) {%>
      <tr>
          <td><%= address.dt %></td>
          <td><%= address.ip %></td>
      </tr>
      <% } %>
    </div>
    <%} else {%>
    <h1>No Addresses Found.</h1>
    <% } %>   
  </main>

  <%- include('includes/end.ejs')%>  